<div class="d-flex align-items-center align-self-center mt-5 mb-5 pt-3 pb-3 border-top border-bottom">
  <h1 class="mr-auto"><%= title %></h1>
  <% if (typeof button !== 'undefined') { %>
    <a class="btn btn-outline-success" href="<%= button.link %>"><%= button.label %></a>
  <% } %>
</div>
