<%- include ('../../partials/header.ejs') %>

<div class="card">
  <div class="card-header">
    <h1>Add User</h1>
  </div>
  <div class="card-body">
    <form method="POST" action="/admin/users/create">
      <input name="name" type="text" placeholder="Name" class="form-control" required />
      <br />
      <input name="email" type="email" placeholder="E-mail" class="form-control" required />
      <br />
      <input name="password" type="password" placeholder="Password" class="form-control" required />
      <br />
      <button class="btn btn-success">Save</button>
    </form>
  </div>
</div>

<%- include ('../../partials/footer.ejs') %>