<%- include ('../../partials/header.ejs') %>

<div class="card">
  <div class="card-header">
    <h1>Add Article</h1>
  </div>
  <div class="card-body">
    <form method="POST" action="/admin/articles/create">
      <input name="title" type="text" placeholder="Enter the title of the article" class="form-control" required />
      <br />
      <label>Category:</label>
      <select id="category" name="category" class="form-control">
      <% categories.forEach((category) => { %>
        <option value="<%= category.id %>"><%= category.title %></option>
      <% }); %>
      </select>
      <br />
      <textarea id="article" name="body" placeholder="Write the article here" class="form-control" /></textarea>
      <br />
      <button class="btn btn-success">Save</button>
    </form>
  </div>
</div>

<%- include ('../../partials/footer.ejs') %>

<script src="/js/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: '#article',
    language: 'pt_BR',
    plugins: [
      'advlist',
      'autolink',
      'link',
      'image',
      'lists',
      'preview',
      'searchreplace',
      'wordcount',
      'fullscreen',
      'insertdatetime',
      'media',
      'save',
      'table',
      'emoticons',
    ]
  });
</script>